* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(232, 234, 233);
}

::-webkit-scrollbar-thumb {
    background: #141414;
}

/* Configs Globals: */

.line-tittle,
.line-tittle-payments {
    background-color: #141414;
    width: 80px;
    height: 5px;
    border-radius: 5px;
}

.cart {
    font-size: 25px;
    margin-top: 0px;
    cursor: pointer;
}

.popup-cart {
    display: none;
    width: 10px;
    height: 10px;
    background-color: deepskyblue;
    border-radius: 10px;
    position: absolute;
    right: 60px;
    top: 66px
}

/* Header: */

/* Tela de Login: */

.screen-login,
.registration-screen {
    z-index: 99;
    position: absolute;
    top: 0px;
}

.screen-login-bottom,
.screen-registration-bottom {
    background-color: rgba(225, 225, 225, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-login-body {
    background-color: #141414;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    width: 800px;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.screen-registration-body {
    background-color: #141414;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    width: 800px;
    height: 570px;
}

#text-confirm-login {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: red;
    color: #FFF;
    position: absolute;
    top: 600px;
    width: 800px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.screen-registration-body form input {
    margin-bottom: 5px;
}

.screen-registration-body form button {
    width: 100px;
}

#email-senha,
#rua-bairro,
#cidade-estado {
    display: flex;
    flex-direction: row;
}

#email-senha input,
#rua-bairro input,
#input-cidade,
#cidade-estado select {
    width: 335px;
}

#input-email,
#input-rua,
#input-cidade {
    margin-right: 30px;
}

.screen-login-body-right {
    width: 300px;
    margin-right: 20px;
    border-radius: 20px;
    height: 400px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.screen-registration-body-content {
    color: #FFF;
    align-items: start;
    justify-content: start;
}

.screen-login-body-right img {
    width: 130%;
}

.screen-login-body-left {
    text-align: center;
    height: 450px;
    width: 500px;
    border-left: 2px solid #ffffff;
    padding: 20px;
    color: #FFF;
}

.screen-login-body-left form {
    margin-top: 30px;
    font-size: 18px;
}

#link-cadastrar,
#link-login,
#link-entrar,
#link-cadastro {
    cursor: pointer;
}

.screen-login-body-left button,
.screen-registration-body-left button {
    width: 100px;
}

.screen-login-body-left button:hover,
.screen-registration-body button:hover {
    color: #FFF;
    background-color: #141414;
    border: 1px solid #FFF;
    width: 100px;
}

.close-screen-login {
    font-size: 26px;
    position: absolute;
    color: #FFF;
    top: 90px;
    right: 390px;
    cursor: pointer;
}

.close-screen-registration {
    font-size: 26px;
    position: absolute;
    color: #FFF;
    top: 80px;
    right: 390px;
    cursor: pointer;
}

/* Tela de Finalização de compra: */

.order-completion-screen-empty,
.order-completion-screen-content,
.order-completion-screen-content-exclude {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    color: #FFF;
    position: absolute;
    z-index: 99;
    width: 420px;
    height: 100vh;
    right: 0px;
    top: 0px;
}

.order-completion-screen-empty-body,
.order-completion-screen-content-body {
    padding: 10px;
    text-align: center;
    color: #FFF;
}

.sublime-cart {
    margin-top: -5px;
    width: 215px;
    height: 2px;
    background-color: #FFF;
    border-radius: 5px;
}

.close-cart {
    margin-top: 15px;
    font-size: 28px;
    cursor: pointer;
}

.order-completion-screen-empty-body i {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 46px;
}

.order-completion-screen-empty-body button,
.order-completion-screen-content button {
    font-size: 18px;
    margin-top: 20px;
    color: #141414;
    background-color: #FFF;
    border: 1px solid #FFF;
}

.order-completion-screen-empty-body button:hover,
.order-completion-screen-content button:hover {
    margin-top: 20px;
    color: #FFF;
    background-color: #141414;
    border: 1px solid #FFF;
}

.order-completion-screen-content-body-item {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    line-height: 25px;
}

.order-completion-screen-content-body-item-img {
    width: 100px;
    height: 100px;
}

.order-completion-screen-content-body-item-img img {
    width: 100%;
}

.order-completion-screen-content-body-item-text {
    margin-left: 10px;
    width: 250px;
}

.order-completion-screen-content-body-item-text h5 {
    text-align: center;
}

.order-completion-screen-content-body-item-text p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    font-size: 15px;
}

#price-discont,
#total-price {
    display: flex;
    flex-direction: row;
}

.order-completion-screen-content-body-item-icon {
    padding-top: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.order-completion-screen-content-exclude-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-completion-screen-content-exclude-body h5:first-child {
    margin-top: 10px;
}

.order-completion-screen-content-exclude-body img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.order-completion-screen-content-display-exclude-buttons button {
    margin-top: 10px;
    width: 100px;
}

.login-cart {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    color: white
}

.login-cart-body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}

.login {
    margin-right: 10px;
}

.login a,
.login a:hover,
.cadastro a,
.cadastro a:hover {
    text-decoration: none;
    color: #FFF;
    text-decoration: underline;
}

header {
    background-color: #141414;
    height: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.header-logo {
    width: 150px;
    margin-top: 0px;
}

.imagem-logo img {
    width: 100%;
    margin-top: 20px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.header-menu-buttons {
    padding-top: 20px;
}

.header-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.btn-header {
    background-color: #141414;
    color: #FFF;
    border: none;
    padding: 10px 10px 10px 10px;
    font-size: 17px;
    border-radius: 10px;
}

.header-menu ul button {
    margin: 5px;
    width: 120px;
}

.btn-header:hover,
.btn-header.active {
    color: #141414;
    background-color: #FFF;
}

.header-menu-search {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    margin-right: 100px;
}

.header-menu-search-imagem {
    width: 30px;
    padding: 5px;
    margin-left: -30px;
    cursor: pointer;
}

.header-menu-search-imagem img {
    width: 90%;
}

.header-menu-search-input {
    width: 300px;
}

/* Main: */

/* Promotions: */

.promotions {
    background-image: url("../../public/imgs/background-gray.jpg");
    width: 100vw;
    height: calc(100vh - 100px);
}

.promotions-opacity {
    background-color: rgba(255, 255, 2555, 0.6);
    width: inherit;
    height: inherit;
}

.promotions-body {
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 30px;
}

.tittle-promotions {
    margin-top: 30px;
}

.slide {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.item-promotion {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #141414;
    color: #FFF;
    border-radius: 10px;
}

.item-promotion-imagem img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.item-promotion-tittle {
    width: 300px;
    margin-top: 10px;
}

.item-promotion-preco {
    margin-bottom: 10px;
}

/* Product List */

.list-products {
    display: none;
    position: absolute;
    z-index: 99;
    right: 370px;
    top: 85px;
    background-color: #e9e9e9;
    color: #141414;
    padding: 10px;
    padding-right: 50px;
    border-radius: 20px;
}

.list-products ul {
    list-style: none;
}

.list-products li {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #aaaaaa;
}

.list-products li:last-child {
    margin-bottom: 20px;
}

.list-products ul a {
    text-decoration: none;
    color: #141414;
    font-size: 17px;
}

.list-products ul li:hover {
    font-weight: bold;
}

.purchase-screen {
    display: none;
    background-color: #141414;
    border-radius: 30px;
    position: absolute;
    top: 168px;
    width: 85%;
    height: 500px;
    padding: 20px;
}

.purchase-screen-body {
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #FFF;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.purchase-screen-body-left {
    display: flex;
    width: 60%;
    padding: 20px;
}

.purchase-screen-body-left-image1,
.purchase-screen-body-left-image2,
.purchase-screen-body-left-image3 {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.purchase-screen-body-left-image1 img,
.purchase-screen-body-left-image2 img,
.purchase-screen-body-left-image3 img {
    width: 120px;
    height: 120px;
}

.purchase-screen-body-left-image2,
.purchase-screen-body-left-image3 {
    margin-top: 10px;
}

.purchase-screen-body-left-main-image {
    margin-left: 20px;
    text-align: center;
    height: 380px;
    width: 100%;
    overflow: hidden;
}

.purchase-screen-body-left-main-image img {
    height: 380px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.purchase-screen-body-left-main-image:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.purchase-screen-body-right {
    width: 40%;
    padding: 20px;
    color: #FFF;
}

.purchase-screen-body-right-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.purchase-screen-body-right-content p {
    margin-top: 0px;
    font-size: 16px;
    font-style: italic;
}

.purchase-screen-body-right-content-img {
    margin: auto;
    width: 240px;
    height: 85px;
}

.purchase-screen-body-right-content-img img {
    width: 100%;
    height: 100%;
}

.purchase-screen-body-right-content-buttons {
    margin-top: 30px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    margin: auto;
}

.total_price {
    text-decoration: line-through;
    margin-top: 20px;
    margin-right: 10px;
}

.discount {
    color: rgba(255, 0, 0, 1);
}

#button-buy {
    width: 300px;
    margin-right: 10px;
}

.discount_price {
    margin-bottom: 0px;
}

.quantity_products {
    margin: auto;
    margin-top: 5px;
    background-color: #eeeeee;
    width: 90px;
    height: 30px;
    border-radius: 20px;
}

.quantity_products-body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    color: #141414;
    text-align: center;
}

.quantity_products_more,
.quantity_products_less {
    font-size: 22px;
    cursor: pointer;
}

.quantity_products_more {
    padding-right: 10px;
}

.quantity_products_less {
    padding-left: 10px;
}

.quantity_products_number {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-left: 1px solid #141414;
    border-right: 1px solid #141414;
}

.qtde-item {
    margin-bottom: -20px;
}

/* Cookie: */

.cookie {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #141414;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    z-index: 100;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cookie-body {
    color: #FFF;
}

.cookie-body label {
    font-size: 20px;
}

#btn-aceita-cookie:hover {
    background-color: #141414;
    border: 1px solid #FFF;
    color: #FFF;
}

/* Final Order: */

.final-order {
    background-image: url("../../public/imgs/background-gray.jpg");
    height: 100%;
}

.final-order-opacity {
    background-color: rgba(255, 255, 2555, 0.6);
    height: 100%;
}

.final-order-body {
    display: flex;
    justify-content: space-between;
}

.final-order-body-left {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 60%;
}

.final-order-body-right {
    width: 40%;
    align-items: end;
    text-align: end;
    display: flex;
    flex-direction: column;
}

.final-order-body-right-card {
    width: 40%;
    align-items: end;
    text-align: end;
    display: flex;
    flex-direction: column;
}

.tittle-final-order-left {
    padding-top: 30px;
}

.tittle-final-order-right {
    padding-top: 80px;
}

.product-final-order {
    display: flex;
    flex-direction: row;
}

#seus-itens,
#total-valor-itens {
    padding: 2px;
    text-align: center;
    font-size: 18px;
    background-color: #141414;
    color: #FFF;
}

#seus-itens {
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#total-valor-itens {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-final-order {
    border-top: 1px solid #141414;
    border-left: 1px solid #141414;
    border-right: 1px solid #141414;
}

.product-final-order-left {
    width: 130px;
    height: 130px;
}

.product-final-order-left img {
    width: 100%;
}

.product-final-order-right {
    background-color: #FFF;
    padding: 10px;
    width: 70%;
}

.product-final-order-price {
    flex: 1;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle-final-order-right-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin-top: 30px;
}

.tittle-final-order-right-body-card {
    text-align: start;
    width: 80%;
    margin-top: 30px;
    background-color: #141414;
    color: #FFF;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
}

.tittle-final-order-right-body-card input {
    margin-bottom: 20px;
}

.payment-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    color: #FFF;
    background-color: #141414;
}

#payment-option-1 {
    grid-column: 1/3;
}

#payment-option-2 {
    grid-column: 3/5;
}

#payment-option-3 {
    grid-column: 1/3;
}

#payment-option-4 {
    grid-column: 3/5;
}

#payment-option-5 {
    grid-column: 2/4;
    margin-bottom: 20px;
}

.payment-option i {
    font-size: 50px;
}

.payment-option h5 {
    font-size: 20px;
    margin-top: 10px;
}

.final-order-body-left-address-body {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #141414;
}

.final-order-body-left-address-body label {
    color: #FFF;
    font-size: 20px;
}

.final-order-body-left-address-body input {
    margin-bottom: 10px;
}

#rua-bairro-address,
#cidade-estado-address {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#rua-bairro-address div,
#cidade-estado-address div {
    width: 48%;
}

.final-order-address-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.final-order-address-buttons button {
    width: 300px;
}

#button-change-address {
    margin-left: 40px;
}

#button-confirm-address {
    margin-right: 40px;
}

#button-change-address:hover,
#button-confirm-address:hover {
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #141414;
}

.line-address {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #FFF;
    border-radius: 10px;
    height: 5px;
}

.choice-delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choice-delivery-item {
    display: flex;
    flex-direction: row;
    color: #FFF;
}

.choice-delivery-item-icon {
    font-size: 30px;
}

.choice-delivery-item-descrition {
    padding: 20px;
}

.choice-delivery-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-delivery-item-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.choice-delivery-item-option {
    margin-top: 10px;
}

#vencimento {
    display: flex;
    flex-direction: row;
}

#vencimento select {
    width: 80px;
}

#select-ano {
    margin-right: 10px;
    margin-left: 10px;
}

#cvv {
    flex: 1;
    margin-top: -27px;
}

#button-confirm-card,
#button-confirm-card-debit,
#button-confirm-carteira-digital,
#button-confirm-boleto,
#button-confirm-pix  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#close-cart-payment,
#close-cart-debit-payment,
#close-carteira-digital,
#close-boleto,
#close-pix {
    font-size: 20px;
    color: #FFF;
    position: absolute;
    top: 270px;
    right: 130px;
    cursor: pointer;
}

/* Estilos de transição dos Métodos de pagamento: */

#payment-option-1 {
    grid-column: 1/3;
    position: relative;
    perspective: 1000px;
}

#payment-option-2 {
    grid-column: 3/5;
    position: relative;
    perspective: 1000px;
}

#payment-option-3 {
    grid-column: 1/3;
    position: relative;
    perspective: 1000px;
}

#payment-option-4 {
    grid-column: 3/5;
    position: relative;
    perspective: 1000px;
}

#payment-option-5 {
    grid-column: 2/4;
    position: relative;
    perspective: 1000px;
    margin-bottom: 20px;
}

.payment-option-1-front,
.payment-option-1-back,
.payment-option-2-front,
.payment-option-2-back,
.payment-option-3-front,
.payment-option-3-back,
.payment-option-4-front,
.payment-option-4-back,
.payment-option-5-front,
.payment-option-5-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
}

.payment-option-1-front,
.payment-option-2-front,
.payment-option-3-front,
.payment-option-4-front,
.payment-option-5-front {
    transform: rotateY(0deg);
}

.payment-option-1-back,
.payment-option-2-back,
.payment-option-3-back,
.payment-option-4-back,
.payment-option-5-back {
    border-radius: 10px;
    color: #141414;
    background-color: #ffffff;
    transform: rotateY(180deg);
}

#payment-option-1:hover .payment-option-1-front,
#payment-option-2:hover .payment-option-2-front,
#payment-option-3:hover .payment-option-3-front,
#payment-option-4:hover .payment-option-4-front,
#payment-option-5:hover .payment-option-5-front {
    transform: rotateY(180deg);
}

#payment-option-1:hover .payment-option-1-back,
#payment-option-2:hover .payment-option-2-back,
#payment-option-3:hover .payment-option-3-back,
#payment-option-4:hover .payment-option-4-back,
#payment-option-5:hover .payment-option-5-back {
    transform: rotateY(0deg);
}